<!--<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><head><meta charset="utf-8">-->
<!--    -->
<!--    -->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
<!--    <link rel="icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon">-->
<!--    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/genda/pc.css">-->
<!--    <script type="text/javascript" src="__CDN__/assets/js/genda/jquery-1.8.3.min.js"></script>-->
<!--    <script type="text/javascript" src="__CDN__/assets/js/genda/jquery.SuperSlide.2.1.1.js"></script>-->
<!--    <title>RESEARCH- Genda Fiber</title>-->
<!--<meta name="keywords" content="">-->
<!--<meta name="description" content="">-->
<!--</head>-->
<!--<body>-->
<!--    <div class="head">-->
<!--	    	<div class="width_1200 clearfix">-->
<!--				<a class="logo" href="/english/index.html" title="logo"><img src="__CDN__/assets/img/genda/201708161701499196.png" alt="Genda Fiber"></a>-->
<!--				<ul class="head_nav clearfix">-->
<!--                  <li><a href="/english/index.html" title="HOME">Home</a></li>-->
<!--					 <li class="on"><a href="/english/RESEARCH.html" title="RESEARCH">Research</a></li>-->
<!--					 <li><a href="/english/products/38.html" title="PRODUCTS">Products</a></li>-->
<!--					 <li><a href="/english/cases/44.html" title="CASES">Cases</a></li>-->
<!--					 <li><a href="/english/aboutus.html" title="ABOUT">About</a></li>-->
<!--					 <li><a href="/english/CONTACTUS.html" title="CONTACT">Contact</a></li>-->
<!--				</ul>-->
<!--				<div class="head_search">-->
<!--    <script src="__CDN__/assets/js/genda/common.js" type="text/javascript"></script>-->
<!--					<i>-->
<!--						<input class="int1" placeholder="Input a keyword" type="text" id="keywords" onkeydown="if(event.keyCode==13){SiteSearch('/english/search.html', '#keywords');return false};">-->
<!--						<button class="int2" onclick="SiteSearch('/english/search.html', '#keywords');"><img src="__CDN__/assets/img/genda/nav_fd.png" alt="Input a keyword"></button>-->
<!--					</i>-->
<!--					<button class="en" onclick="clickFunction()"><a href="/aspx/main/index.aspx" title="中">中</a></button>-->
<!--				</div>-->

<!--			</div>-->
<!--	</div>-->
<!--        <script type="text/javascript">-->
<!--            function clickFunction() {-->
<!--                window.location.href = '/aspx/main/index.aspx';-->
<!--            }-->
<!--    </script>-->
    <div class="ny_bn">
    
        <img src="__CDN__/assets/img/genda/201709111020543926.jpeg" alt="aa">
    
    </div>
    <div class="ny_mb2">
        <p><a href="/english/index.html" title="HOME"><img src="__CDN__/assets/img/genda/ny_mb.png" alt="Hunan Genda Fiber Science Mechanical Manufacturing Co.,Ltd. ">HOME</a>  &gt;<span>RESEARCH</span>
        </p>
    </div>
    <div class="gy_a">
        <div class="width_1200">
            
            <div class="gy_c gy_c1">
                <a class="clearfix" href="/english/technologyResearchDnddjdbz/32.html" title="KNOWLEDGE OF HC REFINING"><span class="gy_s1"></span>
                    <span class="gy_s2"></span><span class="gy_s3"></span><span class="gy_s4"></span>
                    <div class="gy_cl">
                        <i></i>
                        <div class="gy_clr">
                            <em>KNOWLEDGE OF HC REFINING</em>
                            <p>
                                HC refining is a fiber treating process that the pulp is concentrated to 15%-25% by a press…</p>
                        </div>
                    </div>
                    <div class="gy_cr">
                        <img src="__CDN__/assets/img/genda/201708141147578396.png" alt="KNOWLEDGE OF HC REFINING">
                    </div>
                </a>
            </div>
            
                    <div class="gy_c gy_c2">
            <a class="clearfix" href="/english/technologyResearchGndjyl/33.html" title="DISADVANTAGE OF LC REFINING">
                <span class="gy_s1"></span>
                <span class="gy_s2"></span>
                <span class="gy_s3"></span>
                <span class="gy_s4"></span>
            <div class="gy_cl">
                 <img src="__CDN__/assets/img/genda/201708141148220730.png" alt="DISADVANTAGE OF LC REFINING">
            </div>
            <div class="gy_cr">
                <i></i>
                <div class="gy_clr">
                    <em>DISADVANTAGE OF LC REFINING</em><p> After many times of drying and combination, waste paper fiber become very hard. The P layer…</p>
                </div>
            </div>
            </a>
        </div>
            
            <div class="gy_c gy_c3">
                <a class="clearfix" href="/english/technologyResearchGnmsyjzx/34.html" title="RESEARCH CENTER"><span class="gy_s1"></span>
                    <span class="gy_s2"></span><span class="gy_s3"></span><span class="gy_s4"></span>
                    <div class="gy_cl">
                        <i></i>
                        <div class="gy_clr">
                            <em>RESEARCH CENTER</em>
                            <p>
                                The only a professional study of pulping process technology center was ste up in 2014 by ou…</p>
                        </div>
                    </div>
                    <div class="gy_cr">
                        <img src="__CDN__/assets/img/genda/201708141334256830.png" alt="RESEARCH CENTER">
                    </div>
                </a>
            </div>
            
        </div>
    </div>
<!--    <div class="foot">-->
<!--         <div class="foot_h1">-->
<!--			 <div class="width_1200">-->
<!--                 <div class="foot_h1s clearfix">-->
<!--                 <a class="logo2" href="/english/index.html" title="logo"><img src="__CDN__/assets/img/genda/201708161701499196.png" alt="Genda Fiber"></a>-->
<!--					 <div class="foot_yq">-->
<!--						 <span>Links:</span>-->
<!--                    -->
<!--                        -->
<!--					 </div>-->
<!--				 </div>-->
<!--				 <div class="foot_h1x clearfix">-->
<!--                        <div class="foot_h1xl clearfix">-->
<!--                            <dl>-->

<!--								<dt>About</dt>-->
<!--							    <dd>-->
<!--                                   -->
<!--									<a href="/english/aboutus.html#item1" title="Profile">Profile</a>-->
<!--                                    -->
<!--									<a href="/english/aboutus.html#item2" title="Cultures">Cultures</a>-->
<!--                                    -->
<!--									<a href="/english/aboutus.html#item3" title="Growth">Growth</a>-->
<!--                                    -->
<!--									<a href="/english/aboutus.html#item4" title="Honorary Certificate">Honorary Certificate</a>-->
<!--                                    -->
<!--									<a href="/english/aboutus.html#item5" title="The Patent Certificate">The Patent Certificate</a>-->
<!--                                    -->
<!--									<a href="/english/aboutus.html#item6" title="Human Resources">Human Resources</a>-->
<!--                                    -->
<!--								</dd>-->

<!--							</dl>-->
<!--							<dl>-->
<!--								<dt>Products</dt>-->
<!--								<dd>-->
<!--                                 -->
<!--									<a href="/english/products/38.html" title="HC REFINER">HC REFINER</a>-->
<!--                                    -->
<!--									<a href="/english/products/39.html" title="FILTER PRESS">FILTER PRESS</a>-->
<!--                                    -->
<!--									<a href="/english/products/40.html" title="SCREW CONVEYOR">SCREW CONVEYOR</a>-->
<!--                                    -->
<!--									<a href="/english/products/41.html" title="H-C-R SYSTEM">H-C-R SYSTEM</a>-->
<!--                                    -->
<!--									<a href="/english/products/42.html" title="GRINDING PLATE">GRINDING PLATE</a>-->
<!--                                    -->
<!--									<a href="/english/products/43.html" title="PILOT REFINER">PILOT REFINER</a>-->
<!--                                    -->
<!--									<a href="/english/products/1095.html" title="AUTO CONTROL SYSTEM">AUTO CONTROL SYSTEM</a>-->
<!--                                    -->
<!--									<a href="/english/products/1099.html" title="TWO-PHRASE SLURRY SEPARATOR">TWO-PHRASE SLURRY SEPARATOR</a>-->
<!--                                    -->
<!--									<a href="/english/products/1098.html" title="SIDE FEEDING PLUG SCREW">SIDE FEEDING PLUG SCREW</a>-->
<!--                                    -->
<!--									<a href="/english/products/1097.html" title="PLUG DISCHARGE SCREW">PLUG DISCHARGE SCREW</a>-->
<!--                                    -->
<!--									<a href="/english/products/1096.html" title="WOOD CHIP DEWATERING SPIRAL">WOOD CHIP DEWATERING SPIRAL</a>-->
<!--                                    -->
<!--								</dd>-->
<!--							</dl>-->
<!--							<dl>-->
<!--								<dt>Cases</dt>-->
<!--								<dd>-->
<!--                                 -->
<!--									<a href="/english/cases/45.html" title="TISSUE REFINING">TISSUE REFINING</a>-->
<!--                                    -->
<!--									<a href="/english/cases/44.html" title="PACKING PAPER REFINING">PACKING PAPER REFINING</a>-->
<!--                                    -->
<!--									<a href="/english/cases/46.html" title="CULTURAL PAPER REFINING">CULTURAL PAPER REFINING</a>-->
<!--                                    -->
<!--									<a href="/english/cases/48.html" title="CTMP REFINING">CTMP REFINING</a>-->
<!--                                    -->
<!--									<a href="/english/cases/49.html" title="OTHERS">OTHERS</a>-->
<!--                                    -->
<!--								</dd>-->
<!--							</dl>-->
<!--							<dl>-->
<!--								<dt>Research</dt>-->
<!--								<dd>-->
<!--                                     -->
<!--									<a href="/english/technologyResearchDnddjdbz/32.html" title="KNOWLEDGE OF HC REFINING">KNOWLEDGE OF HC REFINING</a>-->
<!--                                     -->
<!--									<a href="/english/technologyResearchGndjyl/33.html" title="DISADVANTAGE OF LC REFINING">DISADVANTAGE OF LC REFINING</a>-->
<!--                                     -->
<!--									<a href="/english/technologyResearchGnmsyjzx/34.html" title="RESEARCH CENTER">RESEARCH CENTER</a>-->
<!--                                     -->
<!--								</dd>-->
<!--							</dl>-->
<!--							<dl>-->
<!--								<dt>News</dt>-->
<!--								<dd>-->
<!--                                 -->
<!--									<a href="/english/new/60.html" title="Company news">Company news</a>-->
<!--                                    -->
<!--									<a href="/english/new/61.html" title="Industry news">Industry news</a>-->
<!--                                    -->
<!--									<a href="/english/new/62.html" title="Technical Library">Technical Library</a>-->
<!--                                    -->
<!--								</dd>-->
<!--							</dl>-->
<!--						</div>-->
<!--					    <div class="foot_h1xr">-->
<!--							<div class="foot_h1xr1">-->
<!--								<img src="__CDN__/assets/img/genda/foot_dh.png" alt="Gendo">-->
<!--								<p>-->
<!--									<em>The service hotline</em>-->
<!--									<strong>0731-8522 0287</strong>-->
<!--								</p>-->
<!--							</div>-->
<!--							<div class="foot_ewm">-->
<!--       -->
<!--								<img src="__CDN__/assets/img/genda/201708180951526638.jpeg" alt="QR code">-->
<!--                                -->
<!--							-->
<!--							</div>-->
<!--						</div>-->
<!--				 </div>-->
<!--			 </div>-->
<!--		 </div>-->
<!--		 <div class="foot_h2">-->
<!--			 <span>©Copyright 2017., Hunan Zhengda Fiber Machinery Manufacturing Co. Ltd..ICP:<a href="http://www.miitbeian.gov.cn/" target="blank"></a><a href="http://www.miitbeian.gov.cn/" target="blank">湘ICP备14003678号-2</a></span> <a href="/english/sitemap.html" title="Site map" target="_blank">Site map</a>  Technical support：<a href="http://www.tryine.com/" target="_blank" title="tryine">Changsha website construction</a>-<a href="http://www.tryine.com/" target="_blank" title="Tryine Science and technology">Tryine Science and technology</a>-->
<!--		 </div>-->
<!--	</div>-->
<!--	&lt;!&ndash;右侧固定导航栏目 &ndash;&gt;-->
<!--	<div class="ycfc">-->
<!--		<ul>-->
<!--			<li><a title="" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1900397170&amp;site=qq&amp;menu=yes" target="_blank">-->
<!--				<div class="leftlx">-->
<!--					<i class="qq"></i>-->
<!--				</div>-->
<!--				<span>Online consulting</span>-->
<!--			</a>-->
<!--			</li>-->
<!--			<li>-->
<!--				<a>-->
<!--					<span>0731-8522 0287</span>-->
<!--					<div class="leftlx">-->
<!--						<i class="dh"></i>-->
<!--					</div>-->

<!--				</a>-->
<!--			</li>-->
<!--			<li><a title="shang" class="shang" href="#"><i class="fh"></i></a></li>-->

<!--		</ul>-->

<!--	</div>-->
    <script>
        $(function() {
            $('.yj_c3 ul li:nth-child(5)').css({ "margin-right": "0" });
            window.onscroll = function () {
                //Firefox只能通过document.documentElement.scrollTop获取滚动顶部距离
                var top = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
                if (top > 300) {
                    $(".ycfc").css("display", "block");
                } else {
                    $(".ycfc").css("display", "none");
                }
            };
            //右侧浮动窗
            var lxbtn=$(".ycfc li");
            lxbtn.each(function(){
                var index=$(this).index();
                //alert(index);
                if( index==1){
                    $(this).hover(function(){
                        $(this).stop().animate({marginLeft:"-150px",width:"205px" },300)
                    },function(){
                        $(this).stop().animate({marginLeft:"0px",width:"55px"},300)
                    });
                }

                if( index==0){
                    $(this).hover(function(){
                        $(this).stop().animate({marginLeft:"-155px",width:"210px"},300)
                    },function(){
                        $(this).stop().animate({marginLeft:"0px",width:"55px"},300)
                    });
                }

            });

            $('.shang').click(function () {
                $('html,body').animate({ scrollTop: '0px' }, 1000);
            });
        });
    </script>


<!--</body></html>-->